<%-include ('partials/header.ejs')%>
        
        <main>
            <div class="container shadow-sm p-3 mb-5 bg-white rounded">
                <div class="row justify-content-start pl-5 pt-3">
                    <h4>Product Table</h4> 
                </div>
                <hr>
                <div class="row justify-content-around">
                    <div class="col-md-3">
                        <label for="custom-select">Show:</label>
                        <select class="custom-select" id="show-num" name="show">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                        </select>       
                    </div>
                    <div class="col-md-3">
                        <label for="input-group">Search:</label>
                        <div class="input-group md-form form-sm form-2 pl-0">
                            <input class="form-control my-0 py-0" type="search" placeholder="Search product item">
                        </div>
                    </div>
                </div> 
<!-- Product Table -->
                <div class="row justify-content-center">
                    <div class="col-md-11">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th scope="col" width="50%">Product Name</th>
                                <th scope="col" width="20%">Sale Price</th>
                                <th scope="col" width="20%">Added</th>
                                <th scope="col" width="10%">Options</th>
                            </tr>
                            </thead>
                            <tbody>
                                <% prod.forEach(function(prod){%>
                            <tr>
                                <th scope="row" id="prod-name"><%=prod.productName %></th>
                                <td id="prod-price"><%=prod.unitPrice %></td>
                                <td id="prod-date"><%=prod.dateAdded %></td>
                                <td id="opt">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-info" id="info" data-toggle="modal" data-target="#view-var"><i class="fas fa-info-circle"></i></button>
                                        <button type="button" class="btn btn-edit" data-toggle="modal" data-target="#edit-var">Edit</button>
                                        <a type="button" class="btn btn-danger" href="/delete?id=<%=prod.productId%>"><i class="fas fa-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <%})%>
                            </tbody>
                        </table>
                    </div>
                </div>  
<!-- Pagination -->
                <div class="row justify-content-end">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li> 
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>

                </div>
                <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#add-product">Add Product</button> 
            </div>
        </main>   
  
<!-- Modal Add Product -->
        <div class="modal fade" id="add-product" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title">Add Product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body col-12">
                    <form method="POST" id="prod-form" action="/addprod">
                        <div class="form-group">
                            <label for="prod-name">Product</label>
                            <input id="prod-name" class="form-control" type="text" placeholder="Input name" name="product" required>
                        </div>
                        <div class="form-group">
                            <label for="prod-price">Price</label>
                            <input id="prod-price" class="form-control" type="text" placeholder="Input price" name="price" required>
                        </div>
                        <hr>
                    </form> 
                    
                    <div class="form-group">
                        <form id="addVariant" method="POST" action="/addprod">
                            <table class="table table-bordered" id="variants">
                                <thead>
                                    <tr>
                                        <th scope="col">Variant</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Delete</th>
                                    </tr>
                                </thead>
                                <tr>
                                    <td>
                                        <select class="custom-select mr-sm-2" id="var-option" name="opt">
                                            <option selected>Choose...</option>
                                            <option value="Midnight Green">Midnight Green</option>
                                            <option value="Silver">Silver</option>
                                            <option value="Space Gray">Space Gray</option>
                                            <option value="Gold">Gold</option>
                                            <option value="Rose Gold">Rose Gold</option>
                                            <option value="White">White</option>
                                            <option value="Red">Red</option>
                                      </select>
                                    </td>
                                    <td>
                                        <input id="var-qty" class="form-control" type="text" placeholder="Qty" name="qty" required>   
                                    </td>
                                    <td>
                                        <button type="button" class="btn" id="del-var"><i class="fas fa-trash"></i></button>
                                    </td>
                                </tr>
                            </table>
                            <button type="submit" class="btn btn-primary" id="add-var">Add Variant <i class="fas fa-plus-circle"></i></button>
                        </form>
                    </div>   
                </div>
                <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Add Product <i class="fas fa-plus-circle"></i> </button>
                </div>
            </div>
            </div>
        </div>

<!-- Modal Edit Variant --> 
        <div class="modal fade" id="edit-var" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="itemLabel">Item Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body col-12">
                    <form method="POST">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row">Product Name</th>
                                    <td>Catto</td>
                                </tr>
                                <tr>
                                    <th scope="row">Sale Price</th>
                                    <td>560</td>
                                    <td><button class="btn btn-info" type="button"><i class="fas fa-edit"></i></button></td>
                                </tr>
                            </tbody>
                          </table>
                          <table class="table">
                            <tbody>
                                <thead>
                                    <tr>
                                        <th scope="col">Variants</th>
                                        <th scope="col">Quantity</th>
                                    </tr>
                                </thead>
                                <tr>
                                    <td>SMALL</td>
                                    <td>4</td>
                                </tr>
                            </tbody>
                          </table>
                    </form>    
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-primary">Add Variant <i class="fas fa-plus-circle"></i> </button>
                </div>
            </div>
            </div>
        </div>

<!-- Modal View Variant --> 
        <div class="modal fade" id="view-var" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="itemLabel">Item Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body col-12">
                        <form method="POST">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th scope="row">Product Name</th>
                                        <td>Catto</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Sale Price</th>
                                        <td>560</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table">
                                <tbody>
                                    <thead>
                                        <tr>
                                            <th scope="col">Variants</th>
                                            <th scope="col">Quantity</th>
                                        </tr>
                                    </thead>
                                    <tr>
                                        <td>SMALL</td>
                                        <td>4</td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>    
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>